In [6]:
import pandas as pd
import numpy as np

ecological_threat_report = pd.read_excel("ETR_Public_Release_Data_2023.xlsx", sheet_name='Indicators')
ecological_threat_report

,Country,Food Insecurity,Natural Disasters,Demographic Pressure,Water Risk
0,Niger,5.0,5.00,5.00,4.92
1,São Tomé and Príncipe,5.0,4.74,5.00,5.00
2,South Sudan,5.0,4.55,5.00,5.00
3,Somalia,5.0,4.54,5.00,5.00
4,Ethiopia,5.0,4.66,4.67,5.00
...,...,...,...,...,...
216,San Marino,1.0,1.00,1.00,1.00
217,Slovenia,1.0,1.00,1.00,1.00
218,Sweden,1.0,1.00,1.00,1.00
219,Greenland,1.0,1.00,1.00,1.00
220,Kosovo,1.0,1.00,1.00,1.00